.textheight {
    min-height: 37vh;
    max-height: 37vh;
}

.responvie_font_big {
    font-size: 2.2vw;
}

.responvie_font_standard {
    font-size: 1.3vw;
}

.responvie_font_small {
    font-size: 0.9vw;
}

.dateheight {
    min-height: 3vh;
    max-height: 3vh;
}

.headerheight {
    min-height: 10vh;
    max-height: 10vh;
}

.minwidth {
    min-width: 50%;
}

.zeromargin {
    margin: 0%;
}

.loginposition {
    margin-top: 40vh;
}
