.textheight {
    min-height: 21vh;
    max-height: 21vh;
}

.responvie_font_big {
    font-size: 2.3vh;
}

.responvie_font_standard {
    font-size: 1.5vh;
}

.responvie_font_small {
    font-size: 1vh;
}

.dateheight {
    min-height: 21vh;
    max-height: 21vh;
}

.headerheight {
    min-height: 8vh;
    max-height: 8vh;
}

.minwidth {
    min-width: 50%;
}

.zeromargin {
    margin: 0%;
}

.loginposition {
    margin-top: 40vh;
}

.padding_for_centering {
    padding-left: 15%;
    padding-right: 15%;
}

/*scrolling text*/
.marquee {
  overflow: hidden;
  position: relative;
}

.marquee div {
  overflow: hidden;
  animation: marquee 10s linear infinite;
}


@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}